ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 90%;
}

li {
    margin-bottom: 0.5em;
}

ul ul {
    margin-left: 1.5em;
    list-style-type: disc;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
}



/* Responsive tablette et + */
@media (min-width: 600px) {
    ul {
        max-width: 600px;
    }

    main {
        min-height: 80vh;
    }
}